* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* NavBar */

body {
  margin: 0 auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

header {
  width: 90%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.navbar__img {
  margin-right: auto;
  height: 50px;
}

.navbar__signup {
  order: 3;
}

.navbar__signup a {
  color: #0065fc;
  font-weight: bold;
}

.navbar__ulist {
  list-style: none;
  display: flex;
}

.navbar__ulist__elt {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100px;
}

.navbar__ulist__elt:hover {
  border-top: 2px solid #0065fc;
  margin-top: -2px;
}

.navbar__ulist__elt a:hover {
  color: #0065fc;
}

/* Responsive Mobile navbar */

@media screen and (max-width: 426px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar__ulist {
    order: 3;
    width: 100%;
  }

  .navbar__ulist {
    border-bottom: 2px solid lightgray;
  }

  .navbar__ulist__elt {
    width: 50%;
    justify-content: center;
    height: 50px;
  }

  .navbar__ulist__elt:hover {
    border-top: initial;
    margin-top: initial;
    border-bottom: 2px solid #0065fc;
    margin-bottom: -2px;
  }
}
