* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* NavBar */

body {
  margin: 0 auto;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

header {
  width: 90%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.navbar__img {
  margin-right: auto;
  height: 50px;
}

.navbar__signup {
  order: 3;
}

.navbar__signup a {
  color: #0065fc;
  font-weight: bold;
}

.navbar__signup a:hover {
  color: black;
}

.navbar__ulist {
  list-style: none;
  display: flex;
}

.navbar__ulist__elt {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100px;
}

.navbar__ulist__elt:hover {
  border-top: 2px solid #0065fc;
  margin-top: -2px;
}

.navbar__ulist__elt a:hover {
  color: #0065fc;
}

/* Responsive Mobile navbar */

@media screen and (max-width: 426px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar__ulist {
    order: 3;
    width: 100%;
  }

  .navbar__ulist {
    border-bottom: 2px solid lightgray;
  }

  .navbar__ulist__elt {
    width: 50%;
    justify-content: center;
    height: 50px;
  }

  .navbar__ulist__elt:hover {
    border-top: initial;
    margin-top: initial;
    border-bottom: 2px solid #0065fc;
    margin-bottom: -2px;
  }
}

/* Title */
.header_title {
  font-size: 1rem;
  margin-top: 20px;
}

.header_subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 10px;
}

/* SearchBar */

.searchbar {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
}

.searchbar__marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.searchbar__input {
  width: 55%;
  height: 98%;
  font-size: 16px;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.searchbar__button {
  display: block;
  width: 30%;
  background-color: #0065fc;
  height: 100%;
  border-radius: 0 10px 10px 0;
  color: white;
  border: transparent;
}

.searchbar__button--icon {
  display: none;
}

/* Responsive Mobil searchbar */

@media screen and (max-width: 425px) {
  .searchbar {
    width: auto;
    margin-left: 4%;
    margin-right: 4%;
  }

  .searchbar__button {
    display: none;
  }

  .searchbar__input {
    width: 70%;
  }

  .searchbar__button--icon {
    display: block;
    width: 15%;
    height: 100%;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
    border: none;
  }
}

/* Filters */

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filters h3 {
  font-size: 1rem;
}

.filters__category {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  margin: 5px;
}

.filters__category--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1.5px;
  background-color: #deebff;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.filters__category--icon i.fas {
  color: #0065fc;
}

.filters__category--button {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  font-family: Raleway;
}

.filters__category:hover {
  background-color: #deebff;
}

/* filters responsive */

@media screen and (max-width: 426px) {
  .filters h3 {
    margin-right: 100%;
    margin-bottom: 5px;
  }
}
