* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  min-width: 319px;
  margin: auto;
}

/* NavBar */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.navbar__img {
  margin-right: auto;
  height: 40px;
  margin-left: 5%;
}

.navbar__signup {
  order: 3;
  margin-right: 8%;
  margin-left: 2%;
}

.navbar__signup a {
  color: #0065fc;
  font-weight: bold;
}

.navbar__signup a:hover {
  color: black;
}

.navbar__list {
  list-style: none;
  display: flex;
}

.navbar__item {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 100px;
}

.navbar__item:hover {
  border-top: 2px solid #0065fc;
  margin-top: -2px;
}

.navbar__item a:hover {
  color: #0065fc;
}

/* Responsive Mobile navbar */

@media screen and (max-width: 426px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar__img {
    margin-left: 5%;
  }

  .navbar__signup {
    margin-right: 5%;
    margin-left: auto;
  }

  .navbar__list {
    order: 3;
    width: 100%;
    border-bottom: 2px solid lightgray;
  }

  .navbar__item {
    width: 50%;
    justify-content: center;
    height: 50px;
  }

  .navbar__item:hover {
    border-top: initial;
    margin-top: initial;
    border-bottom: 2px solid #0065fc;
    margin-bottom: -2px;
  }
}

/* Title */

.title-container {
  width: 90%;
  margin: auto;
}

.title__big {
  font-size: 1.1rem;
  margin-top: 20px;
  font-weight: 900;
}

.title__small {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}

/* SearchBar */

.searchbar-container {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 20px;
}

.searchbar {
  width: 350px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 10px;
}

.searchbar__marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.searchbar__input {
  width: 55%;
  font-size: 14px;
  font-weight: bold;
  border: none;
  height: 40px;
  padding-left: 5px;
}

.searchbar__input:focus {
  outline: none;
}

.searchbar__button {
  width: 30%;
  height: 100%;
  background-color: #0065fc;
  border-radius: 0 10px 10px 0;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 0.8;
  cursor: pointer;
}

.searchbar__button--icon {
  display: none;
}

/* Responsive Mobile searchbar */

@media screen and (max-width: 426px) {
  .searchbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .searchbar__button {
    display: none;
  }

  .searchbar__input {
    margin: auto;
  }

  .searchbar__button--icon {
    display: block;
    width: 15%;
    height: 40px;
    background-color: #0065fc;
    color: white;
    border-radius: 10px;
    border: none;
  }
}

/* Filters */

.filters_container {
  width: 90%;
  margin: auto;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style: none;
}

.filters__title {
  font-size: 1rem;
  font-weight: 900;
  margin-right: 20px;
}

.filters__category {
  display: flex;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 40px;
  margin: 5px;
  font-size: 0.8rem;
  font-weight: 900;
}

.filters__category__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  background-color: #deebff;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.filters__category__icon i.fas {
  color: #0065fc;
}

.filters__category__button {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  font-family: Raleway;
}

.filters__category:hover {
  background-color: #deebff;
}

/* filters Mobile responsive */

@media screen and (max-width: 426px) {
  .filters__title {
    margin-right: 100%;
    margin-bottom: 5px;
  }
}

/* Results Info */

.info_container {
  width: 90%;
  margin: auto;
}

.info {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info p {
  font-size: 0.9rem;
}

.info__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  height: 20px;
  width: 20px;
  margin-right: 10px;

  border: 2px solid #f2f2f2;
  border-radius: 20px;
  font-size: 12px;
  color: #0065fc;
}

/* Main */

.main_container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

/* Accommodation Results */

#results_container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 65%;
}

.results__title {
  font-size: 1.2rem;
  margin-left: 20px;
  font-weight: 900;
  padding: 20px;
}

.see_more {
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  margin-left: 20px;
}

.see_more:hover {
  color: #0065fc;
}

.accomodation_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  width: 90%;
  margin: auto;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 10px lightgray;
  padding: 5px;
}

.card__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 55%;
}

.card__info_container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

.card__title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card__price {
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.card__star {
  color: #0065fc;
  font-size: 0.6rem;
}

.card__link:hover {
  transform: scale(1.1);
}

.card--vertical {
  flex-direction: column;
  height: 190px;
}

.empty-star {
  color: lightgray;
}

/* Popular Results */

.popular_container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 32%;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.popular__title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;

  /* margin: auto; */
}

.popular__title {
  font-size: 1.2rem;
  font-weight: 900;
}

.popular__title-icon {
  font-size: 1rem;
}

.popular__results_container {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.card--horizontal {
  flex-direction: row;
  margin-bottom: 20px;
  height: 120px;
}

.card__image--horizontal {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  width: 40%;
  height: 100%;
}

.card__star--horizontal {
  position: absolute;
  bottom: 0;
}

/* Main responsive Tablet */

@media screen and (max-width: 769px) and (min-width: 426px) {
  .main_container {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }
  #results_container {
    width: 90%;
    margin: auto;
    order: 2;
    background-color: transparent;
  }

  .popular_container {
    width: 100%;
    order: 1;
    border-radius: 0;
  }

  .popular__title__container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card--horizontal {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
}

/* Main responsive Mobile */

@media screen and (max-width: 426px) {
  .card__link:hover {
    transform: none;
  }

  .main_container {
    flex-direction: column;
    width: 100%;
  }

  #results_container {
    order: 2;
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 0;
  }

  .results__title {
    margin-left: 0;
    padding-left: 5px;
  }

  .accomodation_container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .see_more {
    margin-left: 0;
    padding-left: 5px;
  }

  .popular_container {
    width: 100%;
    order: 1;
    border-radius: 0;
  }

  .popular__title__container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Activities */

#activities_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.activities_container__title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.activities {
  display: flex;
  justify-content: space-between;
}

.activities__col1,
.activities__col2,
.activities__col3,
.activities__col4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 23%;
}

.activities__card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 3px lightgray;
}

.activities__card:hover {
  transform: scale(1.05);
}

.activities__card__image {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.activities__card__title {
  font-size: 13px;
  padding: 10px;
  font-weight: bold;
}

.activities__col2 a:nth-child(1) {
  margin-top: 0;
  margin-bottom: auto;
}

.activities__col4 a:nth-child(1) {
  margin-top: 0;
  margin-bottom: auto;
}

.activities__col1 .activities__card,
.activities__col3 .activities__card {
  height: 400px;
}

.activities__col1 .activities__card__image,
.activities__col3 .activities__card__image {
  height: 100%;
}

.activities__col2 a:nth-child(1) .activities__card__image {
  height: 160px;
}

.activities__col2 a:nth-child(2) .activities__card__image {
  height: 100px;
}

.activities__col4 a:nth-child(1) .activities__card__image,
.activities__col4 a:nth-child(2) .activities__card__image {
  height: 140px;
}

/* Activities Mobile responsive */

@media screen and (max-width: 426px) {
  .activities {
    display: flex;
    flex-direction: column;
  }

  .activities__card:hover {
    transform: none;
  }

  .activities__col1,
  .activities__col2,
  .activities__col3,
  .activities__col4 {
    justify-content: start;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
  }

  .activities__col2 a:nth-child(1) {
    margin-bottom: 20px;
  }

  .activities__col4 a:nth-child(1) {
    margin-bottom: 20px;
  }

  .activities__col1 .activities__card,
  .activities__col2 .activities__card,
  .activities__col3 .activities__card,
  .activities__col4 .activities__card {
    height: 140px;
  }

  .activities__col1 .activities__card__image,
  .activities__col3 .activities__card__image {
    height: 100px;
  }

  .activities__col2 a:nth-child(1) .activities__card__image {
    height: 100px;
  }

  .activities__col2 a:nth-child(2) .activities__card__image {
    height: 100px;
  }

  .activities__col4 a:nth-child(1) .activities__card__image,
  .activities__col4 a:nth-child(2) .activities__card__image {
    height: 100px;
  }
}

/* Footer */

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 40px;
  background-color: #f2f2f2;
  padding: 30px;
}

.footer__title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1rem;
}

.footer__list {
  list-style: none;
}

.footer__list__item {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

/* Footer mobile responsive */

@media screen and (max-width: 426px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    margin-top: 20px;
    padding: 30px;
  }
}
